@import '../../base.css';

.videoMetaData{
	color: white;
}

.videoMetaData__top span{
	cursor: pointer;
}

.videoMetaData__channel{
	border-top: 0.2px solid var(--border-color);
	border-bottom: 0.2px solid var(--border-color);
}

.videoMetaData__channel img{
	width: 50%;
	height: 50%;
}

.videoMetaData__channel button{
	background-color: red;
	text-transform: uppercase;
	border-radius: 0;
	letter-spacing: 0.5px;
}