@import './base.css';

.app__container{
  display: flex;
  margin-top: 10vh;
  background-color:var(--black-secondary)!important ;

}

.app__main{
  background-color:var(--black-secondary)!important ;
}
